body{
    background-color:rgb(62, 211, 99);
}

.btn{
    cursor: pointer;
}

body{
    color: rgb(15, 99, 99);
   
}

.clicked{
    color: #cf6b0e;
}

.form
.greetings {
    display: none;
}s

.showing{
    display: block;
}
